---
title: Thoughts. Stuff.
timezone: UTC
collections:
  posts:
    title: Posts
    output: true
  uploads:
    title: Uploads
    output: true
defaults:
- scope:
    path: ''
    type: posts
  values:
    layout: single
    read_time: true
    comments: true
    share: true
    related: true
- scope:
    path: ''
    type: pages
  values:
    layout: single
    author_profile: true
- scope:
    path: ''
    type: projects
  values:
    layout: single
    author_profile: false
    share: true
title_separator: "-"
name: Luan Nguyen
description:
- Thoughts. Stuff.
words_per_minute: 200
minimal_mistakes_skin: default
locale: en-US
include:
- _pages
url: https://peeomid.com
baseurl: 
repository: peeomid/peeomid.github.io
comments:
  provider: disqus
  disqus:
    shortname: peeomid-com
  discourse:
    server: 
  facebook:
    appid: 
    num_posts: 
    colorscheme: 
theme: minimal-mistakes-jekyll
page_name: peeomid
tagline: Thoughts. Stuff.
author:
  name: Luan Nguyen
  bio: Someone
  github: peeomid
  linkedin: 
  stackoverflow: 
  twitter: 
  youtube: 
gems:
- jekyll-paginate
analytics:
  provider: false
  google:
    tracking_id: UA-52164311-1
search: true
search_full_content: false
compress_html:
  clippings: all
  ignore:
    envs: development
twitter:
  username: peeomid
permalink: "/:categories/:title/"
paginate: 5
paginate_path: "/blog/page:num/"
