---
title: Thoughts. Stuff.
title_separator          : "-"
name                     : "Luan Nguyen"
description              : "Tech blog in simple language."
words_per_minute         : 200
minimal_mistakes_skin    : "default" # "air", "aqua", "contrast", "dark", "dirt", "neon", "mint", "plum", "sunrise"
locale: "en-US"
include: ["_pages"]

url: "http://127.0.0.1:4000"
# url                      : "https://peeomid.com"
baseurl                  : # the subpath of your site, e.g. "/blog"
repository: "peeomid/peeomid.github.io"

comments:
  provider               : "disqus" # false (default), "disqus", "discourse", "facebook", "google-plus", "staticman", "staticman_v2" "custom"
  disqus:
    shortname            : "peeomid-com" # https://help.disqus.com/customer/portal/articles/466208-what-s-a-shortname-
  discourse:
    server               : # https://meta.discourse.org/t/embedding-discourse-comments-via-javascript/31963 , e.g.: meta.discourse.org
  facebook:
    # https://developers.facebook.com/docs/plugins/comments
    appid                :
    num_posts            : # 5 (default)
    colorscheme          : # "light" (default), "dark"

collections:
  posts:
    title: Posts
    output: true
    permalink: /blog/:path/
  uploads:
    title: Uploads
    output: true
  projects:
    title: Projects
    output: true
    permalink: /:projects/:path/
# theme: jekyll-theme-cayman
theme: minimal-mistakes-jekyll
# remote_theme: "mmistakes/minimal-mistakes"
page_name: peeomid
tagline: Thoughts. Stuff.
author:
  name: peeomid
  url: https://peeomid.com
gems:
- jekyll-paginate
description:
- Thoughts. Stuff.
analytics:
  provider               : false # false (default), "google", "google-universal", "custom"
  google:
    tracking_id          : UA-52164311-1

search: true
search_full_content: false
compress_html:
  clippings: all
  ignore:
    envs: development  # disable compression in dev environment

twitter:
  username: "peeomid"

# Site Author
author:
  name             : "Luan Nguyen"
  bio              : "Someone"
  github           : "peeomid"
  linkedin         : # "john-doe-12345678" (the last part of your profile url, e.g. https://www.linkedin.com/in/john-doe-12345678)
  stackoverflow    : # "123456/username" (the last part of your profile url, e.g. https://stackoverflow.com/users/123456/username)
  twitter          :
  youtube          : # "https://youtube.com/c/MichaelRoseDesign"

# Outputting
permalink: /:categories/:title/
paginate: 5 # amount of posts to show
paginate_path: /blog/page:num/
timezone: UTC

defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      read_time: true
      comments: true
      share: true
      related: true
  # _pages
  - scope:
      path: ""
      type: pages
    values:
      layout: single
      author_profile: true
  - scope:
      path: ""
      type: projects
    values:
      layout: single
      author_profile: false
      share: true